body{
  font-family:  "monospace", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1, h2, h3, p{
  margin: opx;
}


ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

.sub-titulo{
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 5ch;
}

@media(max-width:800px){
  .sub-titulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}